nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-link{
    margin: 20px;
}

.right-links a {
    margin-right: 50px; 
}

.right-links{
    position: absolute;
    top: 31px;
    right: 20px;
}

.image-container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    border: 2px solid black;
    }

img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 200%; 
    left: 50%; 
    transform: translateX(-50%); 
}










@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .left-link, .right-links {
        position: static; 
        margin: 10px;
        text-align: center;
    }

    .right-links {
        margin-top: 10px;
    }
}
