body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-link a {
    margin-left: 0;  
    margin-right: 20px; 
}

.left-link{
    position: absolute;
    top: 18px;
    text-indent: 20px;
}

.right-links a {
    margin-right: 50px; 
}

.right-links{
    position: absolute;
    top: 22px;
    right: 20px;
}

.image{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 4px;
    border: 2px solid #ccc;
}

.intro-text{
    text-align: center;
}
.intro-text h1{
    margin-top: 135px;
    padding-left: 30px;
    font-size: 50px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .left-link, .right-links {
        position: static; 
        margin: 10px;
        text-align: center;
    }

    .right-links {
        margin-top: 10px;
    }
}
